<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-bottom">
      <div class="copyright">
        &copy; {{ now.Format "2006" }} Gabe Yuan
      </div>
      
      <div class="social-links">
        <ul class="social-media-list">
          {{ with .Site.Params.github_username }}
          <li>{{ partial "icon-github.html" . }}</li>
          {{ end }}

          {{ with .Site.Params.twitter_username }}
          <li>{{ partial "icon-twitter.html" . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
